<app-header search="search for jobs"></app-header>
<ion-content color="light">
  <ion-item class="ion-no-padding">
    <ion-grid class="ion-no-padding" class="ion-text-center">
      <ion-row>
        <ion-col size="4">
          0 <br><br>
          Saved
        </ion-col>
        <ion-col size="4">
          0 <br><br>
          Applied
        </ion-col>
        <ion-col size="4">
          <ion-icon name="pencil-outline"></ion-icon>
          <br><br>
          Saved
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item style="margin-bottom: 12px;">

    <ion-grid fixed>
      <ion-row class="ion-padding-bottom ion-padding-top">
        <ion-col size="6">
          Your Job searches
        </ion-col>
        <ion-col size="6" class="ion-text-end" style="color: var(--ion-color-primary);">
          Manage
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let job of jobs">
        <ion-col size="6">
          <span>Developpeur Backend</span>
          <br><span>Morroco</span>
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-icon name="notifications-off-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item style="margin-bottom: 12px;">

    <ion-grid fixed color="light">
      <ion-row>
        <ion-col size="12">
          Jobs for You
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-thumbnail>
            <img src="/assets/profile.png" />
          </ion-thumbnail>
        </ion-col>
        <ion-col size="8">
          <b>Administrateur réseau et sécurité informatique</b><br>
          <span>E2IP TECHNOLOGIES</span><br>
          <span>Casablanca Morroco</span>
        </ion-col>
        <ion-col size="2" class="ion-text-end">
          <ion-icon color="dark" name="bookmark-outline"></ion-icon>
          <ion-icon color="dark" name="ellipsis-vertical-outline"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>

</ion-content>