<ion-content>
  <ion-grid class="ion-text-center ">
    <ion-row>
      <ion-col>
        <h1 >Login</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="primary">Forgot Password?</ion-text>
      </ion-col>
      <ion-col>
        <ion-text color="primary">Register?</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>Connect</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
