<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/feed" icon="close" text="" type="button"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onPost()">
        Post
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none" class="ion-no-margin">
    <ion-avatar slot="start">
      <img src='/assets/profile.png' />
    </ion-avatar>
    <ion-label>
      Kodjo Leger Kavege
      <p>
        <ion-icon name="earth-outline" size="small"></ion-icon> Public
      </p>
    </ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-textarea [(ngModel)]="post_content" style="color:rgba(0, 0, 0, 0.712);" rows="6" cols="20"
      placeholder="Share your thoughts. Add photos or hashtags.">
    </ion-textarea>
  </ion-item>

  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon size="large" name="at-outline"></ion-icon>
      </ion-button>
      <ion-button expand="block" fill="clear" shape="round">
        <ion-icon name="camera-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button expand="block" fill="clear" shape="round">
        <p style="font-size: 30px;">#</p>
      </ion-button>
    </ion-buttons>
  </ion-item>

</ion-content>