ion-item{
    ion-icon{
        font-size: medium;
    }
    ion-input{
        border:rgba(0, 0, 0, 0.301);
        border-radius:8px;
    }
}

ion-card{
    width: 100vw;
    margin: 4% 0;
    box-shadow: O;
    
    h1{
        font-weight: bolder;
    }
}