<ion-card>
  <ion-item lines="none"> 
    <ion-avatar slot="start">
      <ion-img
        [src]="post?.authorProfileImg">
      </ion-img>
    </ion-avatar>
    <ion-label>
      <h3> {{ post?.authorName }} </h3>
      <p style="font-size: small;" *ngIf="post?.authorDescription">
        {{ post?.authorDescription }}
      </p>
      <p style="font-size: xx-small;"> {{ moment(post?.time).calendar() }} </p>
    </ion-label>
    <ion-buttons slot="end" >
      <ion-button > 
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>


  
  <ion-card-content >
    <div style="color: black;" *ngIf="post?.content">
      
       <div *ngIf="!post?.showMore">
         {{trimString(post,100)}}
       </div>
       <div *ngIf="post?.showMore">
         {{post?.content}}
       </div>
       <a (click)="post.showMore = !post?.showMore">Show <span [innerHtml]="post?.showMore ? 'less' : 'More'"> </span>
       </a>
    </div>
    
   
  </ion-card-content>
  <ion-img
    [src]="post?.contentImg"
    alt="ion" *ngIf="post?.contentImg"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-chip *ngIf="post?.likes">
          <ion-icon name="heart-circle" color="danger"></ion-icon>
          <ion-icon name="thumbs-up" color="primary"></ion-icon>
          <ion-icon name="flash" color="success"></ion-icon>
          <span> {{ post?.likes | shortNumber}} </span>
        </ion-chip>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button buttonType="text" *ngIf="post?.comments" (click)="onGoComments(post?.id)">
          <span> {{ post?.comments | shortNumber}} Comments</span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-input type="send" placeholder="Comment"></ion-input>
          <ion-icon name="send-sharp" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  

  <ion-footer>
    <ion-toolbar>
      <ion-buttons class="ion-justify-content-around">
        <ion-button (click)="onLike(post?.id)">
          <ion-icon slot="icon-only" [name]="isLiked?'thumbs-up':'thumbs-up-outline'" [color]="isLiked?'primary':''">
          </ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="chatbox-outline" (click)="onGoComments(post?.id)"></ion-icon>
        </ion-button>
        <ion-button slot="end">
          <ion-icon slot="icon-only" name="share-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
     </ion-toolbar>
  </ion-footer>
</ion-card>