<ion-header>
  <ion-toolbar>
    <ion-title>Password Recorver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--padding-top: 25%;">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <img src="assets/linkedin-icon.png" style="width: 50px;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" color="primary"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span style="color: green;">Consult your mail!</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>Recorver Password</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
